html {
  background-color: $dark_background; // doesn't look good at the intro page, for the milisecond before black starts
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}