/**
 * Basic typography style for copy text
 */
html * {
  font-size: 1em;
  color: $light_content_text;
  font-family: Roboto Mono, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

